*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Header */

header{
    display: flex;
    height: 300px;
    background: url(../assets/imagenes/fondo1.jpeg) center;
    background-size: cover;
}

.fondo{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    backdrop-filter: blur(5px);
    font-size: 18px;
}

#imagenP{
    height: 190px;
    width: 190px;
    margin: 35px 30px 35px 50px; 
}

/* Gradients */

.gradient{
    height: 20px;
    background: linear-gradient(#651800, white);
}

.gradientfot{
    height: 40px;
    background: linear-gradient(white, #2E5902);
}

/* Menu */

.ul{
    list-style: none;
    font-size: 0;
}

.li{
    display: inline-block;
    width: 25%;
    position: relative;
    font-size: 18px;
    text-align: center;
    margin: 6px 0px 8px 0px;
}

.ul ul{
    position: absolute; 
    display: none;
} 

.ul ul li{
    display: block;
}

.ul li:hover ul{
    display: block;
    background-color: transparent;
    margin-left: 4%;
    text-align: justify;
}

.li a{
    text-decoration: none;
    color: white;
}

nav{
    background-color: #651800;
}

.ul li:hover{
    background-color: #77270f ;
}
.ul ul a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

/* Flex Box y Carrousel*/

#padre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background:  #65a603;
    border-radius: 40px;
    margin: 80px 120px 0px 120px;;
}

.hijo1{
    margin-top: 40px;
}
.hijo2{
    margin: 40px 80px 0px 80px;
}

.slider-blox {
    height: auto;
    margin: 50px  auto;
    overflow: hidden;
}

.slider-blox ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: slide 15s infinite alternate ease-in-out;
}

.slider-blox li {
    width: 100%;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
}

.slider-blox img {
    width: 50%;
    border-radius: 40px;
    
}

@keyframes slide {
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    70% { margin-left: -100%;}

    75% { margin-left: -200%;}
    100% { margin-left: -200%;}
}

@media(max-width:991px) {
    body {
        padding: 30px;
    }
    .slider-blox {
        width: 100%;
    }
}

/* Footer */

footer{
    height: 260px;
    width: 100%;
    background-color: #2E5902;  
}

#menu{
    display: flex;
    flex-direction: row;
    margin-left: 25px; 
}

#menu2{
    display: flex;
    flex-direction: row;
    width: 380px;
    height: 34px;
    background-color: #442604;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin-top: 40px;
}

.menu{
    flex-direction: row;
    font-size: 25px;
}

.link{
    text-decoration: none;
    color: white;
}

.redes{
    margin-left: 45%;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 25px;
    color: white;
}

#redessociales{
    margin-left: 788px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#copyright{
    font-size: 25px;
    margin-left: 25px;
    color: white;
}

.copyR{
    margin: 40px 0px 40px 0px;
    background-color: #2e5902;
}

.linea{
    background-color: rgb(184, 184, 184);
    height: 5px;
    margin: 60px 60px 0px 60px;
    grid-area: linea;
}

/* Grilla */
#grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'foto1 foto2'
    'foto3 foto4';
    height: 100%;
    margin: 0px 100px 100px 100px;
    align-items: center;
    justify-content: center;
    
}

/*Foto1*/

.foto1{
    grid-area: foto1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background: url(../assets/imagenes/flora4.jpg) center;
    background-size: cover;
    flex-direction: column;
    text-align: justify;
}

.foto1:hover{
    transform: scale(1.1, 1.1);
    transition: 2s;
}

.blur h3{
    text-align: center;
    margin: 10px 0px 10px 0px;
}
.blur p{
    margin: 0px 10px 10px 10px;
}
.blur{
    backdrop-filter: blur(10px);
    margin: 20px;
    border-radius: 30px;
}

/*Foto2*/

.foto2{
    grid-area: foto2;
    margin-top: 250px;
    margin-left: 50px ;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background: url(../assets/imagenes/flora5.jpg) center;
    background-size: cover;
    flex-direction: column;
    text-align: justify;
}

.foto2:hover{
    transform: scale(1.1, 1.1);
    transition: 2s;
}
/*Foto3*/

.foto3{
    grid-area: foto3;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background: url(../assets/imagenes/flora6.jpg) center;
    background-size: cover;
    flex-direction: column;
    text-align: justify;
}

.foto3:hover{
    transform: scale(1.1, 1.1);
    transition: 2s;
}
/*Foto4*/

.foto4{
    grid-area: foto4;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background: url(../assets/imagenes/flora7.jpg) center;
    background-size: cover;
    flex-direction: column;
    text-align: justify;
}
.foto4:hover{
    transform: scale(1.1, 1.1);
    transition: 2s;
}
