*{
    margin: 0;
    padding: 0;
}

/* Header */

header{
    display: flex;
    height: 300px;
    background: url(../assets/imagenes/fondo1.jpeg) center;
    background-size: cover;
}

.fondo{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    backdrop-filter: blur(5px);
    font-size: 18px;
}

#imagenP{
    height: 190px;
    width: 190px;
    margin: 35px 30px 35px 50px; 
}

/* Menu */

ul{
    list-style: none;
    font-size: 0;
}

li{
    display: inline-block;
    width: 25%;
    position: relative;
    font-size: 18px;
    text-align: center;
    margin: 6px 0px 8px 0px;
}

ul ul{
    position: absolute; 
    display: none;
    background-color: black;
}

ul ul li{
    display: block;
}

ul li:hover ul{
    display: block;
    background-color: transparent;
}

li a{
    text-decoration: none;
    color: white;
}

nav{
    background-color: #651800;
}

ul li:hover{
    background-color: #77270f ;
}

ul ul a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

/* Grid Principal */

#grid-container{
    padding: 60px 0px 0px 0px;
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "titulo mapa"
        "parrafo mapa"
        "video video"
        "tituloH tituloH"
        "parrafo2 foto2"
        "linea linea";

    height: 1750px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    
}

.titulo{
    background-color: rgb(138, 177, 115);
    grid-area: titulo;
    margin: 0px 0px 0px 60px;
    padding: 10px;
    height: 55px;
    font-size: 25px;
}
.parrafo{
    padding: 10px;
    background-color: rgb(216, 255, 211);
    grid-area: parrafo;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0px 0px 60px 60px;
}
.fotoprincipal{
    grid-area: mapa;
    margin: 0px 60px 60px 0px;
    height: 400px;
}

.video{
    background-color: rgb(138, 177, 115);
    grid-area: video;
    display: flex;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.historia{
    background-color: darkmagenta;
    grid-area: tituloH;
    transform: translate(0px, -30px);
    display: flex;
    justify-content: center;
    height: 150px;
    background: url(../assets/imagenes/historia.png) center;
    background-size: cover;
}

.historia h1{
    margin: 44.5%;
    font-size: 50px;
    color: white;
}

.parrafo2{
    background-color: rgb(138, 177, 115);
    grid-area: parrafo2;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 300px;
    margin: 0px 0px 0px 60px;
    padding: 10px;
}

.foto2{
    grid-area: foto2;
    margin: 0px 60px 0px 0px;
    height: 300px;
}

.linea{
    background-color: rgb(184, 184, 184);
    height: 5px;
    margin: 60px;
    grid-area: linea;
}

.padre{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.hijo{
    width: 30%;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(138, 177, 115);
    font-size: 20px;
    margin: 10px;
    row-gap: 20px;
}

/* Footer */

footer{
    margin-top: 100px;
    height: 260px;
    width: 100%;
    background-color: #384001;  
}

#menu{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 25px; 
    
}

#menu2{
    display: flex;
    flex-direction: row;
    width: 380px;
    height: 34px;
    background-color: #651800;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin-top: 40px;
}

.menu{
    flex-direction: row;
    font-size: 25px;
    
}

.link{
    text-decoration: none;
    color: white;
}

.redes{
    margin-left: 45%;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 25px;
    color: white;
}

#redessociales{
    margin-left: 788px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#copyright{
    font-size: 25px;
    margin-left: 25px;
    color: white;
}

.copyR{
    margin: 40px 0px 40px 0px;
    background-color: #384001;
}