*{
    padding: 0;
    margin: 0;
}
/* Header */

header{
    display: flex;
    height: 300px;
    background: url(../assets/imagenes/fondo1.jpeg) center;
    background-size: cover;
}

.fondo{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    backdrop-filter: blur(5px);
    font-size: 18px;
}

#imagenP{
    height: 190px;
    width: 190px;
    margin: 35px 30px 35px 50px; 
}

/* Menu */

.ul{
    list-style: none;
    font-size: 0;
}

.li{
    display: inline-block;
    width: 25%;
    position: relative;
    font-size: 18px;
    text-align: center;
    margin: 6px 0px 8px 0px;
}

.ul ul{
    position: absolute; 
    display: none;
    background-color: black;
} 

.ul ul li{
    display: block;
}

.ul li:hover ul{
    display: block;
    background-color: transparent;
}

.li a{
    text-decoration: none;
    color: white;
}

nav{
    background-color: #651800;
}

.ul li:hover{
    background-color: #77270f ;
}
.ul ul a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

/* Flex Box y Carrousel*/

#padre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background:  rgb(138, 177, 115);
    border-radius: 40px;
    margin: 80px 120px 0px 120px;;
}

.hijo1{
    margin-top: 40px;
}
.hijo2{
    margin: 40px 80px 0px 80px;
}

.slider-blox {
    height: auto;
    margin: 50px  auto;
    overflow: hidden;
}

.slider-blox ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: slide 15s infinite alternate ease-in-out;
}

.slider-blox li {
    width: 100%;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
}

.slider-blox img {
    width: 50%;
    border-radius: 40px;
    
}

@keyframes slide {
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    70% { margin-left: -100%;}

    75% { margin-left: -200%;}
    100% { margin-left: -200%;}
}

@media(max-width:991px) {
    body {
        padding: 30px;
    }
    .slider-blox {
        width: 100%;
    }
}
