*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.linea{
    background-color: rgb(184, 184, 184);
    height: 5px;
    margin: 60px 60px 100px 60px;
    grid-area: linea;
}

/* Header */

header{
    display: flex;
    height: 300px;
    background: url(../assets/imagenes/fondo1.jpeg) center;
    background-size: cover;
}

#imagenP{
    height: 190px;
    width: 190px;
    margin: 35px 30px 35px 50px; 
} 


/* Gradients */

.gradient{
    height: 20px;
    background: linear-gradient(#651800, white);
}

.gradientfot{
    height: 40px;
    background: linear-gradient(white, #2E5902);
}


/* Menu */

.ul{
    list-style: none;
    font-size: 0;
}

.li{
    display: inline-block;
    width: 25%;
    position: relative;
    font-size: 18px;
    text-align: center;
    margin: 6px 0px 8px 0px;
}

.ul ul{
    position: absolute; 
    display: none;
    
} 

.ul ul li{
    display: block;
}

.ul li:hover ul{
    display: block;
    background-color: transparent;
    margin-left: 4%;
    text-align: justify;
}

.li a{
    text-decoration: none;
    color: white;
}

nav{
    background-color: #651800;
}

.ul li:hover{
    background-color: #77270f ;
}
.ul ul a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

/* Grillas */

/* grilla1 */

#grid-contenedor1{
    margin-top: 50px;
    margin-left: 210px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: 
    'titulo titulo titulo imagen'
    'parrafo parrafo parrafo imagen';
    height: 300px;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    
}   

.titulo1{
    grid-area: titulo;
    justify-self: right;
    font-size: 37px;
}

.imagen1{
    grid-area: imagen;
}

.imagen1 img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    transition: width 4s, height 4s;
}

.imagen1 img:hover{
    width: 350px;
    height: 350px;
}

.parrafo1{
    grid-area: parrafo;
    font-size: 25px;
}

/* grid 2 */

#grid-contenedor2{
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 300px;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 0.4fr 1fr;
    grid-template-areas: 
    'imagen2 titulo2'
    'imagen2 parrafo2';
    height: 300px;
    grid-column-gap: 25px;

}

.imagen2{
    grid-area: imagen2;
}

.imagen2 img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    transition: width 4s, height 4s;

}

.imagen2 img:hover{
    width: 300px;
    height: 300px;
}

.titulo2{
    grid-area: titulo2;
    font-size: 37px;
}

.parrafo2{
    grid-area: parrafo2;
    font-size: 25px;
}

/* grilla 3 */

#grid-contenedor3{
    margin-left: 200px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: 
    'titulo3 imagen3'
    'parrafo3 imagen3';
    width: 1000px;
    height: 300px;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

.titulo3{
    grid-area: titulo3;
    font-size: 37px;
    justify-self: end;
}

.imagen3{
    grid-area: imagen3;
    width: 250px;
    height: 300px;
}

.imagen3 img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    transition: width 4s, height 4s;
}

.imagen3 img:hover{
    width: 300px;
    height: 300px;
}

.parrafo3{
    grid-area: parrafo3;
    font-size: 25px;
}

/* grilla4 */

#grid-contenedor4{
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.4fr 1fr;
    grid-template-areas: 
    'imagen2 titulo2'
    'imagen2 parrafo2';
    height: 340px;
    grid-column-gap: 25px;
    margin-bottom: 80px;
}

.imagen4{
    grid-area: imagen2;

}

.imagen4 img{
    border-radius: 50%;
    width: 390px;
    height: 350px;
    transition: width 4s, height 4s;
    
}

.imagen4 img:hover{
    width: 440px;
    height: 400px;
}

.titulo4{
    grid-area: titulo2;
    font-size: 37px;
}

.parrafo4{
    grid-area: parrafo2;
    font-size: 25px;
    
}

/* Footer */

footer{
    height: 260px;
    width: 100%;
    background-color: #2E5902;  
}

#menu{
    display: flex;
    flex-direction: row;
    margin-left: 25px; 
}

#menu2{
    display: flex;
    flex-direction: row;
    width: 380px;
    height: 34px;
    background-color: #651800;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin-top: 40px;
}

.menu{
    flex-direction: row;
    font-size: 25px;
    
}

.link{
    text-decoration: none;
    color: white;
}

.redes{
    margin-left: 45%;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 25px;
    color: white;
}

#redessociales{
    margin-left: 788px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#copyright{
    font-size: 25px;
    margin-left: 25px;
    color: white;
}

.copyR{
    margin: 40px 0px 40px 0px;
    background-color: #2E5902;
}

/* Flex Box y Carrousel */

#padre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background:  #65A603;
    border-radius: 40px;
    margin: 80px 120px 100px 120px;
    justify-content: center;
}

.fondo{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    backdrop-filter: blur(5px);
}

.hijo1{
    margin-top: 40px;
}

.hijo2{
    margin: 40px 80px 0px 80px;
}

.slider-blox {
    height: auto;
    margin: 50px  auto;
    overflow: hidden;
}

.slider-blox ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: slide 15s infinite alternate ease-in-out;
}

.slider-blox li {
    width: 100%;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
}

.slider-blox img {
    width: 50%;
    border-radius: 40px;
    
}

@keyframes slide {
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    70% { margin-left: -100%;}

    75% { margin-left: -200%;}
    100% { margin-left: -200%;}
}

@media(max-width:991px) {
    body {
        padding: 30px;
    }
    .slider-blox {
        width: 100%;
    }
}
